body {
    background-color: #F8F9FA;
}

.book-word {
    font-family: 'Kanit', sans-serif;
    font-size: 50px;
    font-weight: 100;
    color: rgb(59, 25, 5);
}

.club-word {
    font-size: 50px;
    font-family: 'Kanit', sans-serif;
    font-weight: 300;
    color: rgb(59, 25, 5);
}

.description {
    color: rgb(59, 25, 5);
}

#comment-send-btn {
    background-color: #52020dd5;
    color: whitesmoke;
    border: none;
}

#comment-head {
    margin-top: 13%;
    font-family: 'Kanit', sans-serif;
    font-size: 50px;
    font-weight: 300;
    color: rgb(59, 25, 5);
}

.comment-page {
    border-bottom: 2px solid #52020d91;
}

.comment-book-about {
    margin-top: 2%;
}

.comment-book-about img {
    height: 170px;
    width: 80%;
}

.comment-book-name, .comment-book-author {
    color: rgba(134, 3, 25, 0.952);
}

.comment-book-author {
    font-family: 'Lato', sans-serif;
}

.comment-book-name {
    font-family: 'Merriweather', serif;
}

.comment-here {
    margin-top: 3%;
}

#comment-user-name {
    font-weight: bolder;
    color: rgb(59, 25, 5);
}

#comment-submit-btn {
    margin-bottom: 1%;
}

.comment-placeholder {
    padding-right: 65%;
    color: rgb(59, 25, 5);
}

#comment-send-btn {
    padding: 2px 15px;
}

.users-comments {
    margin-bottom: 1%;
}

.name-comment-div {
    background-color: rgb(235, 235, 235);
    border-radius: 25px;
    color: rgb(59, 25, 5);
    padding-left: 7px;
}

.link-home-page {
    color: #41020a;
    text-decoration: underline;
}

.link-home-page:hover {
    color: rgb(61, 59, 23) !important;
    text-decoration: none;
}
