body .section1 {
    background-image: url("https://static.careers360.mobi/media/article_images/2018/11/14/Best-Books-for-AIIMS.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
}

#book-post {
    margin-left: 23em;
    margin-top: 5em;
}

#book-post img {
    width: 110%;
    margin-left: 270%;
    box-shadow: 10px 10px 5px grey
}

#book-about {
    margin-top: 4em;
    margin-left: -7em;
    width: 350px;
}

.book-name h2 {
    font-weight: bolder;
    font-family: 'Merriweather', serif;
}

#book-about {
    color: #9F001B;
    font-size: 20px;
}

#book-about .author-name h4 {
    font-family: 'Lato', sans-serif;
}

#book-about .quote-book p {
    color: rgb(59, 25, 5)!important;
}

.second-part {
    margin-top: 2em;
}

.paragraph {
    margin-left: 12em;
    border-bottom: 2px solid #52020d91;
    color: #52020de5;
}

.next-week-book img {
    width: 70%;
    height: 160px;
    margin-top: 5px;
}

.count-button {
    height: 33px;
    padding: 0px 18px;
}

.vote {
    background-color: rgba(128, 128, 128, 0.692);
    margin: 0 0.6px;
}

.vote-count {
    color: yellow;
}

/*.section2 .registration{
    background-color: rgb(219, 219, 219);
    margin-top: 20px;
    width: 200px;
}*/


.registration {
    padding: 10em;
}

.show-list a {
    text-decoration: none !important;
}

.header {
    border-bottom: 2px solid #52020d5e;
}

.book-word {
    font-family: 'Kanit', sans-serif;
    font-size: 50px;
    font-weight: 100;
    color: rgb(59, 25, 5);
}

.club-word {
    font-size: 50px;
    font-family: 'Kanit', sans-serif;
    font-weight: 300;
    color: rgb(59, 25, 5);
}

.sign-in {
    color: #52020de5;
    margin-left: 45px;
}

.button {
    background-color:#3d2310e8;
    border: none;
    color: whitesmoke;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    margin: 2px 2px;
  }

.sign-in-btn:hover {
    background-color: rgb(134, 85, 49);
}

.button5 {
    border-radius: 50%;
}